[Unit]
Description=Puma HTTP Server
After=network.target
After=mongod.service
Requires=mongod.service

[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/local/bin/puma -d
Restart=always
RestartSec=1s



[Install]
WantedBy=multi-user.target
